---
import PageLayout from "@/layouts/Base.astro";
import { cvData } from "@/data/cvData";

//import picture from "src/pages/pictures/IMG2360.jpg";

const meta = {
	description: "Who am I? Let's discover it.",
	title: "CV",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title"></h1>
		<section class="mt-0 flex flex-col sm:flex-row gap-8">
			<img 
				src="/pictures/IMG2360.jpg"
				alt="Sergio Rios" 
				class="w-full sm:w-1/5 lg:w-1/3 rounded-lg object-cover"
			/>
			<div class="flex-1">
				<h1 class="title mb-4">About</h1>
				{cvData.about.map((paragraph) => (
					<p class="mb-4 text-left sm:text-justify">{paragraph}</p>
				))}
				<p class="mb-4 text-left sm:text-justify">
					Email: <a href="mailto:rioschala99@gmail.com" class="text-link">rioschala99@gmail.com</a>
				</p>
			</div>
		</section>
			
		<section aria-label="Awards and Recognitions" class="mt-16 text-left sm:text-justify">
			<h1 class="title mb-4">Awards</h1>
			
			<h4 class="text-lg font-semibold mb-4">Scholarships</h4>
			<ul class="mb-4 space-y-2">
				{cvData.scholarships.map((scholarship) => (
					<li class="ml-4 text-[0.75rem]" set:html={scholarship.description} />
				))}
			</ul>
	
			<h4 class="text-lg font-semibold mb-2">Recognitions</h4>
			<ul class="space-y-2">
				{cvData.recognitions.map((recognition) => (
					<li class="ml-4 text-[0.75rem]">
						{recognition.title}<a href={recognition.link} class="text-link" target="_blank">{recognition.linkText}</a>
					</li>
				))}
			</ul>
		</section>
	
		<section class="mt-16">
			<h1 class="title mb-4">Academic Experience</h1>
			<ul class="space-y-4">
				{cvData.academicExperience.map((exp) => (
					<li class="py-4 flex flex-col sm:flex-row items-start gap-2 sm:gap-0">
						<span class="text-sm font-semibold sm:font-normal sm:w-1/4">{exp.date}</span>
						<div class="sm:w-3/4">
							<strong class="block">{exp.role}</strong>
							<span class="block"><a href={exp.url} class="text-link" target="_blank">{exp.institution}</a></span>
							<p class="mt-1 text-[0.75rem] text-left sm:text-justify">
								{exp.description}
							</p>
						</div>
					</li>
				))}
			</ul>
		</section>
	
		<section class="mt-16">
			<h1 class="title mb-4">Qualifications</h1>
			<ul class="space-y-4">
				{cvData.qualifications.map((qual) => (
					<li class="py-4 flex flex-col sm:flex-row items-start gap-2 sm:gap-0">
						<span class="text-sm font-semibold sm:font-normal sm:w-1/4">{qual.date}</span>
						<div class="sm:w-3/4">
							<strong class="block">
								{qual.url ? (
									<a href={qual.url} class="text-link" target="_blank">{qual.title}</a>
								) : (
									qual.title
								)}
							</strong>
							{qual.descriptions.map((desc) => (
								<p class="mt-1 text-[0.75rem] text-left sm:text-justify">
									{desc}
								</p>
							))}
						</div>
					</li>
				))}
			</ul>
		</section>
	</div>
</PageLayout>
